<%= form_for(@investment) do |f| %>
  <% if @investment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@investment.errors.count, "error") %> prohibited this investment from being saved:</h2>

      <ul>
      <% @investment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :amt_invested %><br>
    <%= f.text_field :amt_invested %>
  </div>
  <div class="field">
    <%= f.label :inv_type %><br>
    <%= f.text_field :inv_type %>
  </div>
  <div class="field">
    <%= f.label :capitalization %><br>
    <%= f.text_field :capitalization %>
  </div>
  <div class="field">
    <%= f.label :funding_round %><br>
    <%= f.text_field :funding_round %>
  </div>
  <div class="field">
    <%= f.label :investmt_date %><br>
    <%= f.date_select :investmt_date %>
  </div>
  <div class="field">
    <%= f.label :maturity %><br>
    <%= f.date_select :maturity %>
  </div>
  <div class="field">
    <%= f.label :conversion_trigger %><br>
    <%= f.text_field :conversion_trigger %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
