<h1>Listing investments</h1>

<table>
  <thead>
    <tr>
      <th>Amt invested</th>
      <th>Inv type</th>
      <th>Capitalization</th>
      <th>Funding round</th>
      <th>Investmt date</th>
      <th>Maturity</th>
      <th>Conversion trigger</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @investments.each do |investment| %>
      <tr>
        <td><%= investment.amt_invested %></td>
        <td><%= investment.inv_type %></td>
        <td><%= investment.capitalization %></td>
        <td><%= investment.funding_round %></td>
        <td><%= investment.investmt_date %></td>
        <td><%= investment.maturity %></td>
        <td><%= investment.conversion_trigger %></td>
        <td><%= link_to 'Show', investment %></td>
        <td><%= link_to 'Edit', edit_investment_path(investment) %></td>
        <td><%= link_to 'Destroy', investment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Investment', new_investment_path %>
