
	<!-- content -->
	<section id="homeFullScreen" data-stellar-background-ratio="0.5">
	  <div class="maskParent">
		<div class="paralaxMask"></div>
		<div id="fullScreenSliderWrapper">
		  <div id="logoBig">
			<h1>AngelPM</h1>
		  </div>

		  <div class="flexslider" id="flexHome">
			<ul class="slides">
			  <li>
				<h1>Angel investor portfolio management</h1>
			  </li>
			  <li>
				<h1>Created by legal and finance professionals<br></h1>
			  </li>
			  <li>
				<h1>Simple. Safe. Easy.</h1>
			  </li>
			</ul>
		  </div>
		  <a href="#about" class="homeBtn btn"><i class="icon-down"></i>learn more</a>
		</div>
	  </div>
	</section>

	<!-- services -->
	<section class="slice color4" id="features">
	  <div class="container">
		<div class="row">
		  <div class="col-md-3 col-sm-6 ">
			<article class="boxFeature-2">
			  <i class="fa fa-wrench iconBig"></i>

			  <h1>5-Minute Setup</h1>

			  <h2>We do the work: simply send us your deal documents</h2>
			</article>
		  </div>

		  <div class="col-md-3 col-sm-6">
			<article class="boxFeature-2">
			  <i class="fa fa-tachometer iconBig"></i>

			  <h1>Elegant Dashboard</h1>
			  <!-- <h1>Elegant, Professional Dashboard</h1> -->
			  <h2>Quickly view your entire portfolio or drill down for company-specific updates</h2>
			</article>
		  </div>

		  <div class="col-md-3 col-sm-6">
			<article class="boxFeature-2">
			  <i class="fa fa-clock-o iconBig"></i>

			  <h1>Real-time Information</h1>

			  <h2>We aggregate social media and news feeds so you stay current</h2>
			</article>
		  </div>

		  <div class="col-md-3 col-sm-6">
			<article class="boxFeature-2">
			  <i class="fa fa-lock iconBig"></i>

			  <h1>Confidential & Secure</h1>

			  <h2>Licensed lawyers handle your documents; market-leading encryption protects data</h2>
			</article>
		  </div>

		</div>
	  </div>
	</section>
	<!-- services -->

	<!-- quote -->
	<div id="paralaxSlice1" data-stellar-background-ratio="0.5">
	  <div class="maskParent">
		<div class="paralaxMask"></div>
		<div class="paralaxText">
		  <blockquote class="mt15"><i class="fa fa-quote-left"></i> The first portfolio management tool for startup investments designed by legal and finance professionals. <i class="fa fa-quote-right"></i></blockquote>
		</div>
	  </div>
	</div>
	<!-- quote -->

	<!-- about us -->
	<section class="slice noPaddingBottom" id="about">
	  <div class="container">
		<div class="row">
		  <div class="col-xs-12">
			<h1>About us</h1>
		  </div>
		</div>

		<div class="row">
		  <div class="col-sm-8 col-sm-offset-2">
			<h2>AngelPM was founded by investors frustrated with the difficulties of keeping track of startup investments
			  and portfolio companies.</h2>

			<h2>Paper and pdf deal documents are unwieldy, making it hard to keep track of terms like discounts and caps,
			  maturity dates and ownership percentages. Additionally, many startups are bad at keeping investors informed
			  about progress.</h2>

			<h2>AngelPM solves both problems by presenting key deal information as well as aggregating company updates.</h2>

			<h2> The best part: it requires no effort on your part to get up and running.</h2>
			</h2>
		  </div>
		</div>
	  </div>
	</section>
	<!-- about us -->

	<!-- quote -->
	<div id="paralaxSlice4" data-stellar-background-ratio="0.5">
	  <div class="maskParent">
		<div class="paralaxMask"></div>

		<div class="paralaxText">
		  <blockquote><i class="fa fa-quote-left"></i> I’ve been waiting a decade for a tool like this. Thank you AngelPM!
			<i class="fa fa-quote-right"></i></blockquote>
		</div>
	  </div>
	</div>
	<!-- quote -->

	<!-- plans -->
	<section class="pricing slice color1" id="plans">
	  <div class="container">
		<div class="row">
		  <div class="col-xs-12">
			<h1 class="noSubtitle">Our plans</h1>
		  </div>
		</div>
		<div class="row">
		  <div class="col-md-3 col-sm-6">
			<div class="pricingBloc">
			  <h2>Plan 1</h2>

			  <h3>$5<span>per month</span></h3>
			  <ul>
				<li>Up to 3 investments</li>
			  </ul>
			  <p class="sign">
				<a class="btn" href="https://wrapbootstrap.com/theme/ashley-one-page-parallax-bootstrap-3-WB0R11207">
				  Sign up
				</a>
			  </p>
			</div>
		  </div>
		  <div class="col-md-3 col-sm-6">
			<div class="pricingBloc">
			  <h2>Plan 2</h2>

			  <h3>$15<span>per month</span></h3>
			  <ul>
				<li>4 - 10 investments</li>
			  </ul>
			  <p class="sign">
				<a class="btn" href="https://wrapbootstrap.com/theme/ashley-one-page-parallax-bootstrap-3-WB0R11207">
				  Sign up
				</a>
			  </p>
			</div>
		  </div>
		  <div class="col-md-3 col-sm-6">
			<div class="pricingBloc">
			  <h2>Plan 3</h2>

			  <h3>$30<span>per month</span></h3>
			  <ul>
				<li>11 - 25 investments</li>
			  </ul>
			  <p class="sign">
				<a class="btn btn-large" href="https://wrapbootstrap.com/theme/ashley-one-page-parallax-bootstrap-3-WB0R11207">
				  Sign up
				</a>
			  </p>
			</div>
		  </div>
		  <div class="col-md-3 col-sm-6">
			<div class="pricingBloc">
			  <h2>Plan 4</h2>

			  <h3>Contact us<span>for quote</span></h3>
			  <ul>
				<li>>25 investments</li>
			  </ul>
			  <p class="sign">
				<a class="btn" href="https://wrapbootstrap.com/theme/ashley-one-page-parallax-bootstrap-3-WB0R11207">
				  Sign up
				</a>
			  </p>
			</div>
		  </div>
		</div>
	  </div>
	</section>
	<!-- plans -->

	<!-- team -->
	<section class="slice" id="team">
	  <div class="container">
		<div class="row">
		  <div class="col-xs-12">
			<h1>Meet our team</h1>
		  </div>
		  <!-- Nate Phillips -->
		  <div class="col-sm-4">
			<article>
			  <div>
				<%= image_tag "nate-headshot-circle.jpg", :alt => "Nate Phillips", class:"img-responsive, img-circle", id:"picture" %>
			  </div>
			  <div class="boxContent color4">
				<h1>Nate Phillips</h1>

				<h2>Founder</h2>
			  </div>
			  <div class="boxContent color1"><h2>nate@angelpm.io</h2>
				<ul class="socialNetwork mt15">
				  <li>
					<a href="#" class="tips" title="" data-original-title="follow me on Twitter"><i class="fa fa-twitter iconRounded"></i></a>
				  </li>
				  <li>
					<a href="#" class="tips" title="" data-original-title="follow me on Linkedin"><i class="fa fa-linkedin iconRounded"></i></a>
				  </li>
				</ul>
			  </div>
			</article>
		  </div>
		  <!-- Anne Lu -->
		  <div class="col-sm-4">
			<article>
			  <%= image_tag 'anne-lu.png', alt: 'Anne Lu', class: "img-responsive, img-circle", id: "picture" %>
			  <div class="boxContent color4">
				<h1>Anne Lu</h1>

				<h2>Developer</h2>
			  </div>
			  <div class="boxContent color1"><h2>nate@angelpm.io</h2>
				<ul class="socialNetwork mt15">
				  <li>
					<a href="#" class="tips" title="" data-original-title="follow me on Twitter"><i class="fa fa-twitter iconRounded"></i></a>
				  </li>
				  <li>
					<a href="#" class="tips" title="" data-original-title="follow me on Linkedin"><i class="fa fa-linkedin iconRounded"></i></a>
				  </li>
				</ul>
			  </div>
			</article>
		  </div>
		  <!-- Sam Stites -->
		  <div class="col-sm-4">
			<article>
			  <%= image_tag 'sam-stites.png', alt: 'Sam Stites', class: "img-responsive, img-circle", id: "picture" %>
			  <div class="boxContent color4">
				<h1>Sam Stites</h1>

				<h2>Developer</h2>
			  </div>
			  <div class="boxContent color1"><h2>nate@angelpm.io</h2>
				<ul class="socialNetwork mt15">
				  <li>
					<a href="#" class="tips" title="" data-original-title="follow me on Twitter"><i class="fa fa-twitter iconRounded"></i></a>
				  </li>
				  <li>
					<a href="#" class="tips" title="" data-original-title="follow me on Linkedin"><i class="fa fa-linkedin iconRounded"></i></a>
				  </li>
				</ul>
			  </div>
			</article>
		  </div>
		  <!-- Archana Balagondar -->
		  <div class="col-sm-4">
			<article>
			  <%= image_tag 'archana-balagondar.png', alt: 'Archana Balagondar', class: "img-responsive, img-circle", id: "picture" %>
			  <div class="boxContent color4">
				<h1>Archana Balagondar</h1>

				<h2>Developer</h2>
			  </div>
			  <div class="boxContent color1"><h2>nate@angelpm.io</h2>
				<ul class="socialNetwork mt15">
				  <li>
					<a href="#" class="tips" title="" data-original-title="follow me on Twitter"><i class="fa fa-twitter iconRounded"></i></a>
				  </li>
				  <li>
					<a href="#" class="tips" title="" data-original-title="follow me on Linkedin"><i class="fa fa-linkedin iconRounded"></i></a>
				  </li>
				</ul>
			  </div>
			</article>
		  </div>
		  <!-- Christian Monaghan -->
		  <div class="col-sm-4">
			<article>
			  <%= image_tag 'christian-monaghan.jpg', alt: 'Christian Monaghan', class: "img-responsive, img-circle", id: "picture" %>
			  <div class="boxContent color4">
				<h1>Christian Monaghan</h1>

				<h2>Developer</h2>
			  </div>
			  <div class="boxContent color1"><h2>nate@angelpm.io</h2>
				<ul class="socialNetwork mt15">
				  <li>
					<a href="#" class="tips" title="" data-original-title="follow me on Twitter"><i class="fa fa-twitter iconRounded"></i></a>
				  </li>
				  <li>
					<a href="#" class="tips" title="" data-original-title="follow me on Linkedin"><i class="fa fa-linkedin iconRounded"></i></a>
				  </li>
				</ul>
			  </div>
			</article>
		  </div>
		</div>
	  </div>
	</section>
	<!-- team -->

	<!-- contact -->

	<section class="slice" id="contact">
	  <div class="container">
		<h1 class="noSubtitle">Contact us</h1>
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
			  <% flash.each do |name, msg| %>
				  <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
					<a class="close" data-dismiss="alert">x</a>
					<%= msg %>
				  </div>
			  <% end %>
			  <%= simple_form_for @info_request, :html => { :class => 'form-horizontal' } do |f| %>
				  <fieldset>

					<%= f.input :name, :required => true %>
					<%= f.input :email, :required => true %>
					<%= f.input :phone, :required => false %>
					<%= f.input :subject, :required => true %>
					<%= f.input :message, :as => :text, :required => true %>

					<div class="hidden">
					  <%#= f.input :nickname, :hint => 'Leave this field blank!' %> <!--verifies real person -->
					</div>

					<div class="form-actions">
					  <%= f.submit 'Send Message', :class => 'btn btn-primary' %>
					  <%= link_to 'Clear', href: '#contact', :class => 'btn' %>
					</div>

				  </fieldset>
			  <% end %>
			</div>
	  	</div>
	  </div>
	</section>
	<!-- contact -->

	<!-- footer -->
	<footer class="color4">
	  <section id="mainFooter">
		<div class="container" id="footer">
		  <div class="row">
			<div class="col-sm-4">
			  <div class="footerWidget">
				<h2>ANGELPM is not a law firm and does not provide legal advice.</h2>
			  </div>
			</div>
			<div class="col-sm-4">
			  <div class="footerWidget">
				<address>
				  <h2><i class="icon-location"></i>415 Jackson Street<br>
					San Francisco, CA 94109 <br>
					<i class="icon-phone"></i>415.779.5075 <br>
					<i class="icon-mail-alt"></i>hello@angelpm.io</a>
				  </h2>
				</address>
			  </div>
			</div>
			<div class="col-sm-4">
			  <div class="footerWidget">
				<ul class="socialNetwork pull-right">
				  <li>
					<a href="https://twitter.com/seedchange" class="tips" title="" data-original-title="follow us on Twitter" target="_blank"><i class="fa fa-twitter fa-2x iconRounded"></i></a>
				  </li>
				  <li>
					<a href="http://www.linkedin.com/company/3017442" class="tips" title="" data-original-title="find us on Linkedin"><i class="fa fa-linkedin fa-2x iconRounded"></i></a>
				  </li>
				  <li>
					<a href="https://medium.com/@seedchange" class="tips" title="" data-original-title="read us on Medium"><i class="fa fa-book fa-2x iconRounded"></i></a>
				  </li>
				  <li>
					<a href="http://blog.seedchange.com" class="tips" title="" data-original-title="read our blog"><i
					class="fa fa-rss fa-2x iconRounded"></i></a>
				  </li>
				</ul>
			  </div>
			</div>
		  </div>
		</div>
	  </section>
	</footer>
	<section id="footerRights">
	  <div class="container">
		<div class="row">
		  <div class="col-sm-12 text-center">
			<h2>Copyright © 2014 ANGELPM Inc. All rights reserved.</h2>
		  </div>

		</div>
	  </div>
	</section>
	<!-- End footer -->
</div>
<!-- global wrapper -->
<!-- End Document
