
	<!-- content -->
	<section id="homeFullScreen" data-stellar-background-ratio="0.5">
	  <div class="maskParent">
		<div class="paralaxMask"></div>
		<div id="fullScreenSliderWrapper">
		  <div id="logoBig">
			<h1>Rubyriders</h1>
		  </div>

		  <div class="flexslider" id="flexHome">
			<ul class="slides">
			  <li>
				<h1>Full Stack Development House with offices in US, Europe, and Asia</h1>
			  </li>
			  <li>
				<h1>Training. Code Review. Jedi Mind Tricks.<br></h1>
			  </li>
			  <li>
				<h1>Russian. English. Mandarin. Canadian.</h1>
			  </li>
			</ul>
		  </div>
		  <a href="#about" class="homeBtn btn"><i class="icon-down"></i>learn more</a>
		</div>
	  </div>
	</section>

	<!-- services -->
	<section class="slice color4" id="features">
	  <div class="container">
		<div class="row">
		  <div class="col-md-3 col-sm-6 ">
			<article class="boxFeature-2">
			  <i class="fa fa-wrench iconBig"></i>

			  <h1>Agile. Global. </h1>

			  <h2>Web and Mobile</h2>
			</article>
		  </div>

		  <div class="col-md-3 col-sm-6">
			<article class="boxFeature-2">
			  <i class="fa fa-tachometer iconBig"></i>

			  <h1>Agile Development</h1>
			  <!-- <h1>Elegant, Professional Dashboard</h1> -->
			  <h2>We've developed a proven remote agile methodology</h2>
			</article>
		  </div>

		  <div class="col-md-3 col-sm-6">
			<article class="boxFeature-2">
			  <i class="fa fa-clock-o iconBig"></i>

			  <h1>Global Presence</h1>

			  <h2>With offices around the world, downtime is a thing of the past</h2>
			</article>
		  </div>

		  <div class="col-md-3 col-sm-6">
			<article class="boxFeature-2">
			  <i class="fa fa-lock iconBig"></i>

			  <h1>Security & Testing</h1>

			  <h2>Security and Behaviour Driven Testing ensures you get quality code</h2>
			</article>
		  </div>

		</div>
	  </div>
	</section>
	<!-- services -->

	<!-- quote -->
	<div id="paralaxSlice1" data-stellar-background-ratio="0.5">
	  <div class="maskParent">
		<div class="paralaxMask"></div>
		<div class="paralaxText">
		  <blockquote class="mt15"><i class="fa fa-quote-left"></i> We believe a great customer experience is the key to success. Our customer. Your experience. <i class="fa
		  fa-quote-right"></i></blockquote>
		</div>
	  </div>
	</div>
	<!-- quote -->

	<!-- about us -->
	<section class="slice noPaddingBottom" id="about">
	  <div class="container">
		<div class="row">
		  <div class="col-xs-12">
			<h1>About us</h1>
		  </div>
		</div>

		<div class="row">
		  <div class="col-sm-8 col-sm-offset-2">
			<h2>Winter, 2006. Dnepetrovsk, Ukraine. The coldest winter for more than 30-years.</h2>

			<h2>As part of a US startup, our founder - a young developer from sunny San Francisco - bought a one-way ticket to Dnepetrovsk,
				Ukraine. He arrived in the middle of the coldest winter on record with nothing but a suitcase and an interpreter.</h2>

			<h2>The goal: establish a development team made of the best and brightest engineers in the Ukraine.</h2>

			<h2> The outcome: the first ever documented remote agile methodology, allowing us to create a phenomenal dev team with deep connections throughout North America, Europe,
				and Asia. </h2>
		  </div>
		</div>
	  </div>
	</section>
	<!-- about us -->

	<!-- quote -->
	<div id="paralaxSlice4" data-stellar-background-ratio="0.5">
	  <div class="maskParent">
		<div class="paralaxMask"></div>

		<div class="paralaxText">
		  <blockquote><i class="fa fa-quote-left"></i> These guys are the jedi knights of ruby development <i class="fa fa-quote-right"></i></blockquote>
		</div>
	  </div>
	</div>
	<!-- quote -->

	<!-- plans -->
	<section class="pricing slice color1" id="plans">
	  <div class="container">
		<div class="row">
		  <div class="col-xs-12">
			<h1 class="noSubtitle">Our plans</h1>
		  </div>
		</div>
		<div class="row">
		  <div class="col-md-3 col-sm-6">
			<div class="pricingBloc">
			  <h2>Short-Term</h2>

			  <h3><span>One Project</span></h3>
			  <ul>
				<li>Up to 3 months</li>
			  </ul>
			  <p class="sign">
				<a class="btn" href="#">
				  Sign up
				</a>
			  </p>
			</div>
		  </div>
		  <div class="col-md-3 col-sm-6">
			<div class="pricingBloc">
			  <h2>Mid-Term</h2>

			  <h3><span>Six-Months</span></h3>
			  <ul>
				<li>We're all yours</li>
			  </ul>
			  <p class="sign">
				<a class="btn" href="#">
				  Sign up
				</a>
			  </p>
			</div>
		  </div>
		  <div class="col-md-3 col-sm-6">
			<div class="pricingBloc">
			  <h2>Adopt-a-Dev</h2>

			  <h3><span>Open Ended Contract</span></h3>
			  <ul>
				<li>Adopt a dev of your very own!</li>
			  </ul>
			  <p class="sign">
				<a class="btn btn-large" href="#">
				  Sign up
				</a>
			  </p>
			</div>
		  </div>
		  <div class="col-md-3 col-sm-6">
			<div class="pricingBloc">
			  <h2>Other</h2>

			  <h3>Bequeath your business<span>to a dev</span></h3>
			  <ul>
				<li>>make a dev your heir</li>
			  </ul>
			  <p class="sign">
				<a class="btn" href="#">
				  Sign up
				</a>
			  </p>
			</div>
		  </div>
		</div>
	  </div>
	</section>
	<!-- plans -->

	<!-- team -->
	<section class="slice" id="team">
	  <div class="container">
		<div class="row">
		  <div class="col-xs-12">
			<h1>Meet our team</h1>
		  </div>
		  <!-- Roger Graves -->
		  <div class="col-sm-4">
			<article>
			  <div>
				<%= image_tag "roger.png", :alt => "Roger Graves", class:"img-responsive, img-circle", id:"picture" %>
			  </div>
			  <div class="boxContent color4">
				<h1>Roger</h1>

				<h2>Founder</h2>
			  </div>
			  <div class="boxContent color1"><h2>roger@rubyriders.com</h2>
				<ul class="socialNetwork mt15">
				  <li>
					<a href="#" class="tips" title="" data-original-title="follow me on Twitter"><i class="fa fa-twitter iconRounded"></i></a>
				  </li>
				  <li>
					<a href="#" class="tips" title="" data-original-title="follow me on Linkedin"><i class="fa fa-linkedin iconRounded"></i></a>
				  </li>
				</ul>
			  </div>
			</article>
		  </div>
		  <!-- Artem Suchov -->
		  <div class="col-sm-4">
			<article>
			  <%= image_tag 'Artem.png', alt: 'Artem Suchov', class: "img-responsive, img-circle", id: "picture" %>
			  <div class="boxContent color4">
				<h1>Artem</h1>

				<h2>Developer</h2>
			  </div>
			  <div class="boxContent color1"><h2>artem@rubyriders.com</h2>
				<ul class="socialNetwork mt15">
				  <li>
					<a href="#" class="tips" title="" data-original-title="follow me on Twitter"><i class="fa fa-twitter iconRounded"></i></a>
				  </li>
				  <li>
					<a href="#" class="tips" title="" data-original-title="follow me on Linkedin"><i class="fa fa-linkedin iconRounded"></i></a>
				  </li>
				</ul>
			  </div>
			</article>
		  </div>
		  <!-- Yuriy Kurenkov -->
		  <div class="col-sm-4">
			<article>
			  <%= image_tag 'Yuriy.png', alt: 'Yuriy Kurenkov', class: "img-responsive, img-circle", id: "picture" %>
			  <div class="boxContent color4">
				<h1>Yuriy</h1>

				<h2>Developer</h2>
			  </div>
			  <div class="boxContent color1"><h2>yuriy@rubyriders.com</h2>
				<ul class="socialNetwork mt15">
				  <li>
					<a href="#" class="tips" title="" data-original-title="follow me on Twitter"><i class="fa fa-twitter iconRounded"></i></a>
				  </li>
				  <li>
					<a href="#" class="tips" title="" data-original-title="follow me on Linkedin"><i class="fa fa-linkedin iconRounded"></i></a>
				  </li>
				</ul>
			  </div>
			</article>
		  </div>
		  <!-- Elena Newton -->
		  <div class="col-sm-4">
			<article>
			  <%= image_tag 'hair.jpg', alt: 'Elena', class: "img-responsive, img-circle", id: "picture" %>
			  <div class="boxContent color4">
				<h1>Elena Newton</h1>

				<h2>Developer</h2>
			  </div>
			  <div class="boxContent color1"><h2>elena@rubyriders.com</h2>
				<ul class="socialNetwork mt15">
				  <li>
					<a href="#" class="tips" title="" data-original-title="follow me on Twitter"><i class="fa fa-twitter iconRounded"></i></a>
				  </li>
				  <li>
					<a href="#" class="tips" title="" data-original-title="follow me on Linkedin"><i class="fa fa-linkedin iconRounded"></i></a>
				  </li>
				</ul>
			  </div>
			</article>
		  </div>
		  <!-- Andrew Goncharenko -->
		  <div class="col-sm-4">
			<article>
			  <%= image_tag 'sunshine.jpeg', alt: 'Andrew Goncharenko', class: "img-responsive, img-circle", id: "picture" %>
			  <div class="boxContent color4">
				<h1>Andrew</h1>

				<h2>Developer</h2>
			  </div>
			  <div class="boxContent color1"><h2>andrew@rubyriders.com</h2>
				<ul class="socialNetwork mt15">
				  <li>
					<a href="#" class="tips" title="" data-original-title="follow me on Twitter"><i class="fa fa-twitter iconRounded"></i></a>
				  </li>
				  <li>
					<a href="#" class="tips" title="" data-original-title="follow me on Linkedin"><i class="fa fa-linkedin iconRounded"></i></a>
				  </li>
				</ul>
			  </div>
			</article>
		  </div>
		</div>
	  </div>
	</section>
	<!-- team -->

	<!-- contact -->

	<section class="slice" id="contact">
	  <div class="container">
		<h1 class="noSubtitle">Contact us</h1>
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
			  <% flash.each do |name, msg| %>
				  <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
					<a class="close" data-dismiss="alert">x</a>
					<%= msg %>
				  </div>
			  <% end %>
			  <%= simple_form_for @info_request, :html => { :class => 'simple_form form-horizontal' } do |f| %>
				  <fieldset>

					<%= f.input :name, :required => true, :placeholder => 'Name' %>
					<%= f.input :email, :required => true, :placeholder => 'Email' %>
					<%= f.input :phone, :placeholder => 'Phone'  %>
					<%= f.input :subject, :placeholder => 'Subject'  %>
					<%= f.input :message, :as => :text, :required => true, :placeholder => 'Message' %>

					<div class="hidden">
					  <%= hidden_field_tag :nickname, :hint => 'Leave this field blank!' %> <!--verifies real person
					   -->
					</div>

					<div class="form-actions">
					  <%= f.submit 'Send Message', :class => 'btn btn-primary' %>
					  <%= link_to 'Clear', :href => '#contact', :class => 'btn' %>
					</div>

				  </fieldset>
			  <% end %>
			</div>
	  	</div>
	  </div>
	</section>
	<!-- contact -->

	<!-- footer -->
	<footer class="color4">
	  <section id="mainFooter">
		<div class="container" id="footer">
		  <div class="row">
			<div class="col-sm-4">
			  <div class="footerWidget">
				<h2>Rubyriders is not responsible for ideas, only implementation.</h2>
			  </div>
			</div>
			<div class="col-sm-4">
			  <div class="footerWidget">
				<address>
				  <h2><i class="icon-location"></i>1234 Green Circle<br>
					Palo Alto, CA 94149 <br>
					<i class="icon-phone"></i>435.123.4567<br>
					<i class="icon-mail-alt"></i>jedi-devs@rubyriders.com</a>
				  </h2>
				</address>
			  </div>
			</div>
			<div class="col-sm-4">
			  <div class="footerWidget">
				<ul class="socialNetwork pull-right">
				  <li>
					<a href="https://twitter.com/rubyriders.com" class="tips" title="" data-original-title="follow us on Twitter" target="_blank"><i class="fa fa-twitter fa-2x
					iconRounded"></i></a>
				  </li>
				  <li>
					<a href="http://www.linkedin.com" class="tips" title="" data-original-title="find us on Linkedin"><i class="fa fa-linkedin fa-2x iconRounded"></i></a>
				  </li>
				  <li>
					<a href="#" class="tips" title="" data-original-title="read us on Medium"><i class="fa fa-book fa-2x iconRounded"></i></a>
				  </li>
				  <li>
					<a href="http://blog.rubyriders.com" class="tips" title="" data-original-title="read our blog"><i
					class="fa fa-rss fa-2x iconRounded"></i></a>
				  </li>
				</ul>
			  </div>
			</div>
		  </div>
		</div>
	  </section>
	</footer>
	<section id="footerRights">
	  <div class="container">
		<div class="row">
		  <div class="col-sm-12 text-center">
			<h2>Copyright © 2014 Rubyriders, LLC. All rights reserved.</h2>
		  </div>

		</div>
	  </div>
	</section>
	<!-- End footer -->
</div>
<!-- global wrapper -->
<!-- End Document
