<div>

  <p>You have a new message on RubyAngel.</p>
  <p>You can view this email here: <%= link_to "New Message", :href => 'admin_info_request_path.id' %></p>
  <hr>

  	<p>From: <%= "#{@sender}" %></p>
  	<p>Reply to: <%= "#{@reply_to}" %></p>
	<p>Sent at: <%= "#{@sent}" %></p>
	<p>---------------------------------------</p>
	<p>Message is as follows:</p>
  		<p><%= @message %></p>

</div>