<div>

  <p>Hi Nate! </p>

  <p><%= "#{@sender}" %> has requested additional information about AngelPM.</p>

  <hr>

  	<p>From: <%= "#{@sender}" %></p>
  	<p>Reply to: <%= "#{@reply_to}" %></p>
	<p>Sent at: <%= "#{@sent}" %></p>
	<p>---------------------------------------</p>

  <p>Subject: <%= "#{@subject}" %></p>
  <p>Message:</p>
  		<p><%= @message %></p>

</div>

<!-- add link to view message on activeadmin -->