<div>

  <p>Hi Guys, </p>

  <p><%= "#{@sender}" %> has requested additional information about a project with Rubyriders.</p>
  <p><%= link_to "View the message in AngelPM here", admin_info_request_path(InfoRequest.find_by_id(@id))
  %></p>

  <hr>
  	<p><strong>Sent at:</strong> <%= "#{@sent}" %></p>
  	<p><strong>From:</strong> <%= "#{@sender} < #{@reply_to} >" %></p>
  	<p><strong>Subject:</strong> <%= "#{@subject}" %></p>
	<p>----------------------------------------------------------</p>
  	<p><strong>Message:</strong></p>
  		<p><%= @message %></p>





</div>

<!-- TODO fix link to view message in active-admin -->